<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>
	<h2>Hola ADSI</h2>
	
	<ul>
		<li><a th:href="@{params/cadena(texto='Hola aprendices...')}">Enlace de saludo</a></li>
		<li><a th:href="@{params/cadena(texto='Hola Ana')}">Saludo para Ana</a></li>
		<li><a th:href="@{app/listar}">Listar usuario</a></li>
		<li><a th:href="@{params/mix-params(saludo='Hola Ana', numero = 8)}">varios parametros</a></li>
		<li><a th:href="@{params/mix-params2(saludo='Hola Cris', numero = 9)}">con servlet</a></li>
	</ul>
</body>
</html>